header {
    max-width: 100% !important;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #030529;
}

header a,
header a:visited,
header a:active,
header a:link {
    position: relative;
    color: black;
    text-decoration: none;
}

.header-bottom a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    /* background-color: rgb(208, 203, 203); */
    background-color: black;
    /* background-color: #0C1240; */
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.header-bottom a:hover::before{
    transform-origin: left;
    transform: scaleX(1);
}

.header-bottom a {
    font-size: 1.1rem;
    margin: 5px 10px;
    padding: 4px;
    /* color: black !important; */
}

#imgLogo {
    height: 56px;
    width: 56px;
    margin-right: 10px;
    padding: 10px 0;
}

#imgNomeLogo {
    width: 200px;
    height: auto;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.header-bottom > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none; 
}

#imgLogin {
    width: 32px;
    filter: invert(1);
    cursor: pointer;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.header-top > :first-child {
    display: flex;
    align-items: center;
}
