main {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    background-color: #030529;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 2rem;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.destaques {
    display: flex;
    justify-content: center; 
    flex-direction: column; 
    width: 97%; 
    align-self: center;
    margin-bottom: 1rem;
}

.sub-destaques {
    display: flex;
    flex-direction: row;
}

#labelCategoria {
    font-size: 1.2rem;
}

.carousel img{
    width: 100%;
    height: auto;   
    display: block;
    margin-bottom: 0.8cm;
}

.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.carousel .select-indicator{
    position: absolute;
    top: 0;
    left: 0;
    height: 92.4%;
    width: 18px;
    background-color: #417E98;
}

.carousel .carousel-subtitle {
    position: absolute; 
    z-index: 99; 
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* padding: 0 0 2rem 2rem; */
}

.carousel .carousel-title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 5px;
    padding-bottom: 2rem;
    border-radius: 5px
}

.inferior-carousel {
    position: relative;
    display: flex;
}

.inferior-carousel:not( :first-child ):not( :last-child ) {
    margin: 0 10px;
}

.inferior-carousel img {
    display: block;
    height: 300px; 
    max-width: 100%;
    object-fit: cover;
}

.inferior-carousel-sub {
    position: absolute; 
    z-index: 98; 
    max-width: 100%; 
    max-height: 100%;
    width: 100%; 
    height: 100%;
    display: flex;
    align-items: end;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
    
}

.inferior-carousel-title {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.inferior-carousel::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)); 
}

/*Noticias do Corpo*/

.news-container {
    display: flex;
    /* padding-right: 2rem; */
    justify-content: space-around;
    margin-top: 1rem;
}

.news-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #1C1E3E;
    border: white;
    margin: 10px 0 10px 0;
    color: white;
    border-radius: 10px;
    align-self: center;
}

.news-game-item {
    display: flex;
    padding: 20px;
}

.news-game-item > *{
    margin-top: 1rem;
}

.news-game-text {
    text-align: start;
    min-width: 100px;
}

.news-game-img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

#news-game-title {
    padding-top: 10px;
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.news-list > * {
    margin: 10px;
}

.news-iten {
    background-color: white;
    display: flex;
    padding: 5px;
    max-width: 500px;
    max-height: 250px;
    border-radius: 10px;
}

.news-iten a,
.news-iten a:visited,
.news-iten a:active,
.news-iten a:link {
    color: black;
    text-decoration: none;
}

.news-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
}
.news-text > *{
    padding: 5px 0;
}

.news-iten img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.news-title {
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    padding: 0 !important;
    padding-top: 3px;
}

.news-title:hover {
    color: rgb(0, 83, 142)
}

.news-subtitle {
    display: block; 
    display: -webkit-box;
    font-size: .9rem;
    max-height: 90px;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-info {
    font-size: 0.7rem;
    padding-top: 10px
}

@media only screen and (max-width: 1025px) {
    html {
        font-size: 14px;
    }

    .news-list {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: center; */
    }

    .news-iten img {
        width: 150px;
    }

    .news-iten {
        background-color: white;
        display: flex;
        border-radius: 10px;
        padding: 5px;
        max-width: 400px;
    }

    .news-game-text {
        font-size: .9rem;
        min-width: 150px;

    }
}

@media only screen and (max-width: 1499px) { 
    .news-game {
        display: none;
    }
    .news-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}