main {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    background-color: #030529;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 2rem;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.destaques {
    display: flex;
    justify-content: center; 
    flex-direction: column; 
    width: 97%; 
    align-self: center;
    margin-bottom: 4rem;
}

#labelCategoria {
    font-size: 1.2rem;
}

.carousel img{
    width: 100%;
    height: auto;   
    display: block;
    margin-bottom: 0.8cm;
}

.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.carousel .select-indicator{
    position: absolute;
    top: 0;
    left: 0;
    height: 92.4%;
    width: 18px;
    background-color: #417E98;
}

.carousel .carousel-subtitle {
    position: absolute; 
    z-index: 99; 
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* padding: 0 0 2rem 2rem; */
}

.carousel .carousel-title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 5px;
    padding-bottom: 2rem;
    border-radius: 5px
}

.inferior-carousel {
    position: relative;
    width: 100%;
    height: auto;
}

.imgNoticia {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.imgoticia > * {
    margin: 10px;
}

.inferior-carousel-image {
    display: flex;
    justify-content: space-between;

}

.inferior-carousel img {
    height: auto; 
    display: block;
    max-width: 30%;
}

.inferior-carousel-sub {
    position: relative;
    background: rgba(1, 0, 0, 0.5); /* Fundo para destacar o texto */
    width: 30%; /* Ajusta a largura do fundo */
    padding: 0px;
    text-align: center;
}

.inferior-carousel-sub:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.inferior-carousel-title {
    font-size: 1rem;
    font-weight: bold;
    color: white;
}


/*Noticias do Corpo*/

.news-container {
    display: flex;
    /* padding-right: 2rem; */
    justify-content: space-between;
    margin-top: 3rem;
}

.news-game {
    background-color: white;
    height: 600px;
    width: 300px;
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.news-list > * {
    margin: 10px;
}

.news-iten {
    background-color: white;
    display: flex;
    padding: 5px;
    max-width: 500px;
    max-height: 250px;
}

.news-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
}
.news-text > *{
    padding: 5px 0;
}

.news-iten img {
    width: 200px;
    height: auto;
}

.news-title {
    font-weight: bold;
    font-size: 1rem;
}

.news-subtitle {
    font-size: .9rem;
}

.news-info {
    font-size: 0.7rem;
}

@media only screen and (max-width: 1025px) {
    html {
        font-size: 14px;
    }

    .news-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .news-iten img {
        width: 150px;
    }

    .news-iten {
        background-color: white;
        display: flex;
        border-radius: 10px;
        padding: 5px;
        max-width: 400px;
    }
}
