body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #030529;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;

}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 71.5rem;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.member {
    text-align: center;
    background-color: #0f0f0f;
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
    transition: transform 0.3s ease-in-out;
    width: 240px;
    height: 310px;
    max-width: 240px !important;
    min-width: 240px !important;

    max-height: 310px !important;
    max-height: 310px !important;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.member a {
    text-decoration: none;
}

.member:hover {
    transform: scale(1.05);
    text-decoration: none;
}

.member .social-icons {
    display: flex;
    position: relative;
    top: 15%;
    right: -37%;
    /* gap: 10px;  */

}
/* /tentativa de ṕor o nome do curso de uma maneira frescurenta/ */
/* .member span { 
    display: flex;
    position:relative;
    top: -20%;
    left: 33%;
    transform: translate(-50%, -50%) rotate(-75deg);
    font-size: 40px;
    color: #fff;
    z-index: 0;
    rotate: (-61); 
}*/



.member .social-icons a {
    text-decoration: none;
    color: #fff;
}

.member .social-icons :hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(76, 153, 153, 0.5);
}

.member .linguagem {
    display: flex;
    position: relative;
    top: -88%;
    left: -3%;
}

.member .linguagem a {
    text-decoration: none;
    color: #fff;

}

.member .linguagem :hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(76, 153, 153, 0.5);
}

.member img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 4px solid #00FFFF;
}

.member h3 {
    margin: 10px 0;
    color: #00FFFF;
}

.member p {
    color: #bbb;
}

.member i {
    color: #00FFFF;
    font-size: 24px;
    margin: 5px;
}